nav a{
    text-decoration: none;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-size: larger;
    background-color: #612E51;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media (max-width:840px){
    nav a {
    display: flex;
    flex-direction: column;
    width: 100%
    }
}

header{
    text-align: center;
    font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1{
    text-align: center;
    background-color: #C3D2D5;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.flower_case img{
    box-shadow: 10px 5px 25px #612E51;
    border-radius: 10px;
    align-items: center;
    width:100%;
    height:auto;
    display: block;
}
.flower_case{
    width: auto;
    height: auto;
    border: 2px solid #ccc;
    overflow: hidden;
}

ul{
    list-style-type: none;
    text-align: center;
    background-color: #C1F7DC;
    padding: 10px;
    font-family: "Amarna", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

form{
    max-width: 500px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    background-color: #C1F7DC;
    padding: 10px;
    font-family: "Amarna", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


footer{
    text-align: center;
    background-color: #612E51;
    color: white;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}