nav a{
    text-decoration: none;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-size: larger;
    background-color: #612E51;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


@media (max-width:840px){
    nav a {
    display: flex;
    flex-direction: column;
    width: 100%
    }
}

header {
text-align: center;
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1{
    text-align: center;
    background-color: #C3D2D5;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

table{
    width: auto;
    height: auto;
    border: 2px solid #ccc;
    overflow: hidden;
    font-family: "Amarna", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

table img{
    width:100%;
    height:auto;
    display: block;
}

p{
    background-color: #C1F7DC;
    padding: 5px;
}

img{
    width: 450px;
    height: 400px;
    box-shadow: 10px 5px 25px #612E51;
    border-radius: 10px;
    max-width: 100%;
}

@media screen and (min-width:500px) {
    img {
        max-width:100%;
    }
}

footer{
    text-align: center;
    background-color: #612E51;
    color: white;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}