header, h1{
    text-align: center;
    background-color: #C3D2D5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

nav a{
    text-decoration: none;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-size: larger;
    background-color: #612E51;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-content{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: auto;
    background-color: #C1F7DC;
    color: black;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    box-shadow: 10px 5px 25px #612E51;
    border-radius: 10px;
    max-width: 100%;
}

@media screen and (min-width:500px) {
    img {
        max-width:100%;
    }
}

.container{
    margin: 0;
    color: black;
    max-width: 100%;
}

footer{
    text-align: center;
    background-color: #612E51;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}